*{
    margin: 0;
}

.bg-white{
    background-color: #ffffff;
}

.div-one{
    background-color: #0000ff;
    color: #ffffff;
}
.div-two{
    background-color: #0000ffef;
    color: #ffffff;
}
.div-three{
    background-color: #0000ffe7;
    color: #ffffff;
}
.div-four{
    background-color: #0000ffd2;
    color: #ffffff
}
.div-five{
    background-color: #0000ffa6;
    color: #ffffff;
}
.div-six{
    background-color: #0000ffa2;
    color: #ffffff;
}
.div-seven{
    background-color: #0000ff8c;
    color: #ffffff;
}
.div-eight{
    background-color: #008000c0;
    color: #ffffff;
}
.div-nine{
    background-color: #ff00006c;
    color: #ffffff;
}
.div-ten{
    background-color: #ff000094;
    color: #ffffff;
}
.div-eleven{
    background-color: #ff0000b7;
    color: #ffffff;
}
.div-twelve{
    background-color: #ff0000c4;
    color: #ffffff;
}
.div-thirteen{
    background-color: #ff0000d7;
    color: #ffffff;
}
.div-fourteen{
    background-color: #ff0000e8;
    color: #ffffff;
}
.div-fifteen{
    background-color: #ff0000;
    color: #ffffff;
}

























